<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SyyClops</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <nav id="navbar">
        <a class="navbar-brand" href="#">
          <img src="../static/compinfologo.jpg" style="width:130px; height:50px;margin-left: 10%;margin-top:3%"></a>
        <ul>
          <li><a href="#home" style="margin-top:-60px;">Home</a></li>
          <li><a href="#aboutus" style="margin-top:-60px;">About Us</a></li>
          <li><a href="#contactus" style="margin-top:-60px;">Contact Us</a></li>

        </ul>
      </nav>

      <div class="content">
    
        <section id="home" class="section">
          <div class="container">
          <div class="column content-column">
            <h4 id="home"></h4><p class="home1" style="font-size: 80px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><strong>Your space, <br>our expertise.</strong><br></p>
                <p class="homee" style="font-size: 24px;">Syyclops connects all building data - physical,<br> dynamic, human, product, and more - to make that<br> data accessible and actionable, to house both<br> resources and records, and to get you organized.</p>
                <br><br>
              </div>
              
                <div class="column image-column">
                    <img src="../static/img1.jpg" alt="Example Image" style="margin-left:50%;margin-top:-50%;width:500px;height: 500px;">
                </div>
              </div>
        </section>
        <section id="aboutus" class="section">
      
            <div class="content-column1" style="margin-left: 50%;margin-top: 10%;">
            <h1 class="h" style="margin-top:15%;" ><strong>About Us</strong></h1>
              <p>We integrate on-demand, engineering-based analytics that provide<br> unparalleled visibility and forecasting of your facility. Our system<br> offers smart end-to-end work flows, and insights to optimize your<br> building systems</p><br><br>
          
              <h4><strong>Raj Setty</strong></h4>
              <p>Founder & CEO</p>
              <p>Syyclops’ founder; President of Setty – a successful engineering firm in business for more than 35 years. He is a registered professional engineer and has worked in construction and engineering for decades. He holds a BS in mechanical engineering from UC Davis.</p><br><br>
            </div>
           
                <div class="column image-column1">
                  <img src="../static/img2.jpg" alt="About Us" style="width:30%;height:50%;margin-left :5%;margin-top:-50%;border-radius: 50%;margin-bottom: 70px;">
                </div>
                  
          </section>
          <section id="contactus" class="section" >
            <!-- <h1><strong>Contact Us</strong></h1> -->
            <div class="column image-column2" style="margin-top:20%;">
              <h2>Contact Us</h2>
              <p>Website: www.syyclops.com</p>
              <p>Phone: +91 9513078426</p>
              <p>E-mail: syyclops@gmail.com</p>
          </div>
          </section>
</body>
</html>