<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Hub</title>
    <link rel="stylesheet" href="/static/style1.css">
</head>
<body>
    <form action="/" method="post">
        <div class="container">
            <div class="text-section">
                <h1>Ready to make your work and managing database easy <br><span>with us?</span></h1>
                <p>LeaveHub provides leave management system for your company and promises to give employees smooth leave request access.</p>
            </div>

            <div class="info-section">
                <div class="contact-box">
                    <div class="header">
                        <img src="/static/logo.png" alt="Leave Hub Logo" class="logo">
                        <h1>Leave Hub</h1>
                        <p>Effortless leave management, anytime, anywhere.</p>
                    </div>
                    <p> www.leavehub.com</p>
                    <p>9842339678</p>
                    <p>leaveHub@gmail.com</p>
                    <p>#125,VijayNagar ,Mysuru 570011</p>
                </div>
            </div>
            
            
            <video class="my-video" autoplay loop muted>
                <source src="/static/vee.mp4" type="video/mp4">
            </video>
        </div>
        
           <a href="/home" class="btn">GET STARTED</a>
    </form>
</body>
</html>
