<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Hub</title>
    <link rel="stylesheet" href="/static/s.css">
</head>
<body>
    
    <div class="container">
        <div class="header">
            <img src="/static/logo.png" alt="Leave Hub Logo" class="logo">
            <h1>Leave Hub</h1>
            <p>Effortless leave management, anytime, anywhere.</p>
        </div>
        <div class="main">
            <img src="/static/peep.png" alt="Character Image" class="character">
            <div class="buttons">
                <!-- <form action="/compreg" method="POST"> -->
                <a href="/compreg" class="btn" type="submit">Register as company</a>
                <!-- </form> -->
                <a href="/empreg" class="btn" type="submit">Register as employee</a>
            </div>
        </div>
    </div>
</body>
</html>

